@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
   
}

html, body
{ 
    min-height: 100vh;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}
header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
font-size:xx-large;
background-color: rgb(138, 132, 132);
color: rgb(15, 9, 9);
line-height: 20px;
padding-top: 5px;
}



 